{% extends "base.jinja2" %}

{% block content %}
    <h1>About Me</h1>
    <img src="../static/brendan.jpeg" width="200" height="200">
    Me at Nara Park in Nara, Japan (2019)<br><br>

    <p>Hi there! My name is Brendan Thompson, and I'm currently attending the University of Arizona where I am working on a bachelor's degree
    in computer science with a minor in the Korean language. In fact, following the summer of 2021, I will end up already being a junior! It's 
    both exciting and scary, but I'm looking forward to what the future has in store for me.</p>

    <p>I have a wide range of interests--most notably tech, video games, linguistics, and aviation. While it's not every day that I get to indulge
    them, they've certainly played a huge part in shaping me as a person! I feel like having a lot of hobbies has helped me become a more well-rounded
    individual and has cultivated my own unique perspective on various things--not to mention learning is a lot of fun!</p>
{% endblock %}