{% extends "base.jinja2" %}

{% block content %}
    <h1>Contact</h1>
    <ul>
        <li>Email: brendanthompson0702 at gmail dot com</li>
        <li>University Email: brendanthompson at email dot arizona dot edu</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/waocats/">https://www.linkedin.com/in/waocats/</li>
    </ul>
{% endblock %}