{% extends "base.jinja2" %}

{% block content %}
    <small>Welcome! My name is</small>
    <h1>Brendan Thompson.</h1>
    
    <h2>Thanks for stopping by!</h2>
    <p>This webpage is still under construction, but it's great to see you here! Feel free to look around while it's still being finished.</p>

    <h2>When will this webpage be completed?</h2>
    <p>I'm not sure at the moment, as it's an ongoing side project while I'm working on my degree at the University of Arizona. I thought
    it would be a great way to not only show my skills, but to hone them as well. If you have any suggestions or feedback, please let me
    know!</p>
{% endblock %}
