h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans";
    font-weight: medium;
}

p, .navbar, ul {
    font-family: "Noto Sans";
    font-weight: normal;
}

body {background-color: rgb(253, 253, 253);}